html {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: 100;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -3px;
}